/* keyframe support in Goober is somewhat flaky
   (not including in extracted styles after first request),
   just using vanilla CSS for now */
@keyframes wait {
  0%,
  100% {
    opacity: 0;
  }
}
@keyframes fade-in-out {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  90% {
    opacity: 1;
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
